/*---------------∞
|  settings.css  |
∞---------------*/

/**/@colors {
			white: #f9fcf9;
			grey: #a6a6a6;
			black: #2a2b2c;
			wedgewood: #456990;
			sunglo: #e2706a;
			glade: #b8c57c;
		}
	/*
//
/**/@transitions {easing: cubic-bezier(.4,.25,.3,1)}
	/*
//
/**/@fonts {
			light: 'RobotoMono-Light';
			bold: 'RobotoMono-Bold';
		}
	/*
//
/**/body{typeface: light 18px}
		output {line-height: 1.3}
		b {font-family: bold}
		a::before {bg-color: wedgewood}
 	/*
//
*/
